
<html>
    <head>
        <title>Roo's blog</title>
    </head>
    <body>
        <h1>Beep Beep Lettuce!</h1>
        <p>Hi there!</p>
        <p>It works!</p>
        <h2>Congrats on...</h2>
        <ul><li>Making a site!</li><li>The cool coding jazz!</li><li>And suffering through saving code for 5 hours so far!<ul><ul>
        <p>I'm very proud of you! You get a gold star!</p>
		<a href="https://rlv.zcache.com/custom_message_gold_star_with_gold_glitter_texture_star_sticker-r8c6018b4e6f64bd4b7386ba858eb00be_v9w09_8byvr_324.jpg">link</a>
		<h3>Now be prepared</h3>
		<p>Because there's still 2 and a half hours to go! So buckle up buttercup and enjoy the rest of your flight!</p>
    </body>
</html>